.body
    margin: 0
    padding: 0
    box-sizing: border-box
    width: 100vw
    overflow: hidden
    display: flex
    flex-direction: column

    &__app
        display: none

    &__blurClass
        display: none
        position: fixed
        width: 100vw
        height: 100vh
        background-color: rgba(0, 0, 0, 0.1)
        top: 0
        left: 0
        backdrop-filter: blur(2px)
        z-index: 4