.menu
    top: 0
    width: 100vw
    height: auto
    box-sizing: border-box
    display: flex
    justify-content: space-between
    padding: 5px
    margin-bottom: 10px

    &__title
        display: block
        font-weight: 600
        line-height: 30px

    &__Btn
        display: block
        cursor: pointer